.gift-container
  height 250px
  padding 10px
  //overflow hidden
  .gift-title
    text-align  center
    height 45px
    line-height 45px
    font-size 14px
  .gift-content
    display flex
    text-align  center
    .gift-left
      display flex
      flex-direction column
      width 50%
      background-color #f9e9cf
      margin-right 2px
      span
        font-size 14px
      img
        width 179px
        height 179px
    .gift-right
      width 50%
      display flex
      flex-direction column
      .gift-right-top
        display flex
        background-color #fbe2d3
        .title
          display flex
          flex-direction column
          span
            font-size 14px
          span
            &:nth-child(2)
              font-size 12px
        img
          width 100px
          height 100px
      .gift-right-bottom
        background-color #ffecc2
    