.main-grow
  height 36px
  background-color white
  display flex
  justify-content space-around
  align-items center
  font-size 12px
  padding 0 10px
  li
    display flex
    flex-direction row
    .grow-icon
      width 15px
      height 15px
    span 
      font-size 12px