 .make-container
  .make-lists
    .make-header
      height 50px
      line-height 50px
      display flex
      justify-content space-between
    .make-list
      display flex
      flex-wrap wrap
      .make-item
        width 50%
        height 130px
        display flex
        flex-direction column
        text-align center
        background-image url("http://yanxuan.nosdn.127.net/74e2ea8f81004d0a60f90fc8e4649058.png")
        >span
          margin-top 20px
          text-align center
        .content
          display flex
          justify-content center
          align-items center
          display flex
          span:nth-child(1)
            width 50%
            color #777
          span:nth-child(2)
            width 32px
            height 15px
            color #ffffff
            text-align center
            background-color #cbb693
