//1物理像素边框
border-1px($color,$offset=bottom)
  position relative
  &::before
    content ""
    position absolute
    width 100%
    height 1px
    background-color $color
    if $offset == top
      top 0
    else
      bottom 0

    @media screen and (-webkit-min-device-pixel-ratio: 2)
      transform scaleY(.5)
    @media screen and (-webkit-min-device-pixel-ratio: 2)
      transform scaleY(.33)
