.profile-main
  height 100%
  background #F2F5F4
  .main-loginWays
    height 250px
    padding 0 20px
    .btn
      height 50px
      border 1px solid #DD1A21
      border-radius 2px
      text-align center
      line-height 50px
      margin-bottom 20px
      &.btn-mobile
        color white
        background #DD1A21
      &.btn-email
        color #DD1A21
    //.btn-mobile
    //  border 0 solid #DD1A21
    //  border-radius 2px
    //.btn-email
      //border 0 solid #DD1A21
      //border-radius 2px
  .main-footer
    display flex
    justify-content center
    >span
      margin 0 10px